USE [master]
GO
/****** Object:  Database [Growshi]    Script Date: 27/8/2025 00:16:04 ******/
CREATE DATABASE [Growshi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Growshi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Growshi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Growshi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Growshi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Growshi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Growshi]
GO
/****** Object:  Table [dbo].[RelacionUsuarioTipoUsuario]    Script Date: 27/8/2025 00:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelacionUsuarioTipoUsuario](
	[UsuarioID] [varchar](50) NOT NULL,
	[TipoUsuarioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[TipoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 27/8/2025 00:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[TipoUsuarioID] [int] NOT NULL,
	[NombreTipoUsuario] [varchar](50) NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[TipoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/8/2025 00:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NULL,
	[ClaveRecuperacion] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RelacionUsuarioTipoUsuario] ([UsuarioID], [TipoUsuarioID]) VALUES (N'rogerco', 1)
INSERT [dbo].[RelacionUsuarioTipoUsuario] ([UsuarioID], [TipoUsuarioID]) VALUES (N'rogerco', 2)
INSERT [dbo].[RelacionUsuarioTipoUsuario] ([UsuarioID], [TipoUsuarioID]) VALUES (N'rogerco', 3)
GO
INSERT [dbo].[TipoUsuario] ([TipoUsuarioID], [NombreTipoUsuario]) VALUES (1, N'Agricultor')
INSERT [dbo].[TipoUsuario] ([TipoUsuarioID], [NombreTipoUsuario]) VALUES (2, N'Tecnico')
INSERT [dbo].[TipoUsuario] ([TipoUsuarioID], [NombreTipoUsuario]) VALUES (3, N'Administrador')
GO
INSERT [dbo].[Usuario] ([UsuarioID], [Contraseña], [ClaveRecuperacion]) VALUES (N'rogerco', N'helaman', N'sud65')
GO
ALTER TABLE [dbo].[RelacionUsuarioTipoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_TipoUsuario] FOREIGN KEY([TipoUsuarioID])
REFERENCES [dbo].[TipoUsuario] ([TipoUsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelacionUsuarioTipoUsuario] CHECK CONSTRAINT [FK_Relacion_TipoUsuario]
GO
ALTER TABLE [dbo].[RelacionUsuarioTipoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelacionUsuarioTipoUsuario] CHECK CONSTRAINT [FK_Relacion_Usuario]
GO
USE [master]
GO
