USE [master]
GO
/****** Object:  Database [Growshi_DW]    Script Date: 16/12/2025 21:12:01 ******/
CREATE DATABASE [Growshi_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Growshi_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Growshi_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Growshi_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Growshi_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Growshi_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Growshi_DW]
GO
/****** Object:  Table [dbo].[Dim_Hora]    Script Date: 16/12/2025 21:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Hora](
	[HoraKey] [int] NOT NULL,
	[Hora] [int] NOT NULL,
	[Minuto] [int] NOT NULL,
	[RangoHorario] [nvarchar](20) NULL,
	[EsTurnoDiurno] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HoraKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Planta]    Script Date: 16/12/2025 21:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Planta](
	[PlantaKey] [int] IDENTITY(1,1) NOT NULL,
	[PlantaID_OLTP] [int] NOT NULL,
	[NombrePlanta] [nvarchar](100) NOT NULL,
	[NombrePlanCultivo] [nvarchar](150) NOT NULL,
	[Variedad] [nvarchar](100) NULL,
	[FechaInicioCultivo] [datetime] NULL,
	[EstadoActual] [nvarchar](20) NULL,
	[FechaCarga] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlantaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Tiempo]    Script Date: 16/12/2025 21:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tiempo](
	[FechaKey] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Año] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[NombreMes] [nvarchar](20) NOT NULL,
	[DiaDeSemana] [int] NOT NULL,
	[NombreDia] [nvarchar](20) NOT NULL,
	[Trimestre] [int] NOT NULL,
	[EsFinDeSemana] [bit] NOT NULL,
	[Estacion] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FechaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Ubicacion]    Script Date: 16/12/2025 21:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Ubicacion](
	[UbicacionKey] [int] IDENTITY(1,1) NOT NULL,
	[SlotID_OLTP] [int] NOT NULL,
	[NumeroSlot] [int] NULL,
	[Sector] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UbicacionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hecho_Medicion]    Script Date: 16/12/2025 21:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hecho_Medicion](
	[FechaKey] [int] NOT NULL,
	[HoraKey] [int] NOT NULL,
	[PlantaKey] [int] NOT NULL,
	[UbicacionKey] [int] NOT NULL,
	[Temperatura] [decimal](5, 2) NOT NULL,
	[Humedad] [decimal](5, 2) NOT NULL,
	[Luminosidad] [int] NOT NULL,
 CONSTRAINT [PK_Hecho_Medicion] PRIMARY KEY CLUSTERED 
(
	[FechaKey] ASC,
	[HoraKey] ASC,
	[PlantaKey] ASC,
	[UbicacionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_Planta] ADD  DEFAULT ('Activa') FOR [EstadoActual]
GO
ALTER TABLE [dbo].[Dim_Planta] ADD  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[Dim_Ubicacion] ADD  DEFAULT ('General') FOR [Sector]
GO
ALTER TABLE [dbo].[Hecho_Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Hecho_Hora] FOREIGN KEY([HoraKey])
REFERENCES [dbo].[Dim_Hora] ([HoraKey])
GO
ALTER TABLE [dbo].[Hecho_Medicion] CHECK CONSTRAINT [FK_Hecho_Hora]
GO
ALTER TABLE [dbo].[Hecho_Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Hecho_Planta] FOREIGN KEY([PlantaKey])
REFERENCES [dbo].[Dim_Planta] ([PlantaKey])
GO
ALTER TABLE [dbo].[Hecho_Medicion] CHECK CONSTRAINT [FK_Hecho_Planta]
GO
ALTER TABLE [dbo].[Hecho_Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Hecho_Tiempo] FOREIGN KEY([FechaKey])
REFERENCES [dbo].[Dim_Tiempo] ([FechaKey])
GO
ALTER TABLE [dbo].[Hecho_Medicion] CHECK CONSTRAINT [FK_Hecho_Tiempo]
GO
ALTER TABLE [dbo].[Hecho_Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Hecho_Ubicacion] FOREIGN KEY([UbicacionKey])
REFERENCES [dbo].[Dim_Ubicacion] ([UbicacionKey])
GO
ALTER TABLE [dbo].[Hecho_Medicion] CHECK CONSTRAINT [FK_Hecho_Ubicacion]
GO
/****** Object:  StoredProcedure [dbo].[SP_ETL_CargaDiaria]    Script Date: 16/12/2025 21:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_ETL_CargaDiaria]
AS
BEGIN
    SET NOCOUNT ON;
    PRINT 'Iniciando carga ETL...'

    -- 1. Sincronizar Dimensiones (Igual que antes)
    MERGE [dbo].[Dim_Planta] AS Destino
    USING (
        SELECT P.PlantaID, P.Nombre, PC.NombrePlan, P.FechaInicio
        FROM [Growshi].[dbo].[Planta] P
        JOIN [Growshi].[dbo].[PlanCultivo] PC ON P.PlanCultivoID = PC.PlanCultivoID
    ) AS Origen
    ON (Destino.PlantaID_OLTP = Origen.PlantaID)
    WHEN NOT MATCHED THEN
        INSERT (PlantaID_OLTP, NombrePlanta, NombrePlanCultivo, FechaInicioCultivo)
        VALUES (Origen.PlantaID, Origen.Nombre, Origen.NombrePlan, Origen.FechaInicio)
    WHEN MATCHED AND (Destino.NombrePlanta <> Origen.Nombre OR Destino.NombrePlanCultivo <> Origen.NombrePlan) THEN
        UPDATE SET Destino.NombrePlanta = Origen.Nombre, Destino.NombrePlanCultivo = Origen.NombrePlan;

    MERGE [dbo].[Dim_Ubicacion] AS Destino
    USING (SELECT SlotID FROM [Growshi].[dbo].[Slot]) AS Origen
    ON (Destino.SlotID_OLTP = Origen.SlotID)
    WHEN NOT MATCHED THEN
        INSERT (SlotID_OLTP, NumeroSlot) VALUES (Origen.SlotID, Origen.SlotID);

    -- 2. Cargar Hechos (SIN pH ni EC)
    INSERT INTO [dbo].[Hecho_Medicion] (
        FechaKey, HoraKey, PlantaKey, UbicacionKey, 
        Temperatura, Humedad, Luminosidad
    )
    SELECT 
        CAST(FORMAT(M.FechaRegistro, 'yyyyMMdd') AS INT),
        (DATEPART(HOUR, M.FechaRegistro) * 100) + DATEPART(MINUTE, M.FechaRegistro),
        DP.PlantaKey,
        ISNULL(DU.UbicacionKey, -1),
        M.Temperatura,
        M.Humedad,
        M.Luminosidad
    FROM [Growshi].[dbo].[Medicion] M
    JOIN [dbo].[Dim_Planta] DP ON M.PlantaID = DP.PlantaID_OLTP
    LEFT JOIN [Growshi].[dbo].[Slot] S ON S.PlantaAsociada = M.PlantaID
    LEFT JOIN [dbo].[Dim_Ubicacion] DU ON S.SlotID = DU.SlotID_OLTP
    WHERE NOT EXISTS (
        SELECT 1 FROM [dbo].[Hecho_Medicion] HM 
        WHERE HM.FechaKey = CAST(FORMAT(M.FechaRegistro, 'yyyyMMdd') AS INT)
        AND HM.HoraKey = (DATEPART(HOUR, M.FechaRegistro) * 100) + DATEPART(MINUTE, M.FechaRegistro)
        AND HM.PlantaKey = DP.PlantaKey
    );

    PRINT 'Carga completada.'
END
GO
USE [master]
GO
