USE [master]
GO
/****** Object:  Database [Growshi]    Script Date: 24/9/2025 16:31:09 ******/
CREATE DATABASE [Growshi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Growshi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Growshi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Growshi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Growshi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Growshi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Growshi]
GO
/****** Object:  Table [dbo].[Backup]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Backup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[RutaArchivo] [varchar](1000) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nota] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[FechaHora] [datetime2](3) NOT NULL,
	[Nivel] [nvarchar](20) NOT NULL,
	[Modulo] [nvarchar](50) NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoComponente]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoComponente](
	[PermisoID] [nvarchar](50) NOT NULL,
	[NombreDescriptivo] [nvarchar](100) NOT NULL,
	[EsFamilia] [bit] NOT NULL,
	[PadreID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[TipoUsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario_Permiso]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario_Permiso](
	[TipoUsuarioID] [int] NOT NULL,
	[PermisoID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoUsuarioID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] NOT NULL,
	[UsuarioNombre] [varchar](50) NOT NULL,
	[UsuarioContraseña] [varchar](64) NOT NULL,
	[UsuarioClaveRecuperacion] [varchar](50) NOT NULL,
	[UsuarioIntentos] [int] NOT NULL,
 CONSTRAINT [PK_Usuario1] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_TipoUsuario]    Script Date: 24/9/2025 16:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_TipoUsuario](
	[UsuarioID] [int] NOT NULL,
	[TipoUsuarioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[TipoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Backup] ON 

INSERT [dbo].[Backup] ([Id], [FechaHora], [NombreArchivo], [RutaArchivo], [UsuarioID], [Nota]) VALUES (8, CAST(N'2025-09-24T16:27:26.040' AS DateTime), N'backup_20250924_162726.bak', N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\Backup\', 1, N'aaa')
SET IDENTITY_INSERT [dbo].[Backup] OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([BitacoraID], [UsuarioID], [FechaHora], [Nivel], [Modulo], [Mensaje]) VALUES (1, 1, CAST(N'2025-09-16T13:05:18.3430000' AS DateTime2), N'Advertencia', N'Login', N'Intento de inicio de sesión fallido para el usuario.')
INSERT [dbo].[Bitacora] ([BitacoraID], [UsuarioID], [FechaHora], [Nivel], [Modulo], [Mensaje]) VALUES (2, 1, CAST(N'2025-09-16T14:52:56.3130000' AS DateTime2), N'Info', N'Login', N'Inicio de sesión exitoso para el usuario ''roger''.')
INSERT [dbo].[Bitacora] ([BitacoraID], [UsuarioID], [FechaHora], [Nivel], [Modulo], [Mensaje]) VALUES (3, 1, CAST(N'2025-09-16T15:03:17.1300000' AS DateTime2), N'Info', N'Login', N'Inicio de sesión exitoso para el usuario ''roger''.')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[PermisoComponente] ([PermisoID], [NombreDescriptivo], [EsFamilia], [PadreID]) VALUES (N'EditarCultivo', N'Permite modificar datos de un cultivo existente', 0, N'GestionCultivos')
INSERT [dbo].[PermisoComponente] ([PermisoID], [NombreDescriptivo], [EsFamilia], [PadreID]) VALUES (N'GestionarPermisos', N'Permite asignar permisos a los roles', 0, N'Seguridad')
INSERT [dbo].[PermisoComponente] ([PermisoID], [NombreDescriptivo], [EsFamilia], [PadreID]) VALUES (N'GestionarUsuarios', N'Permite crear, editar y eliminar usuarios', 0, N'Seguridad')
GO
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([TipoUsuarioID], [NombreTipo]) VALUES (1, N'Administrador')
INSERT [dbo].[TipoUsuario] ([TipoUsuarioID], [NombreTipo]) VALUES (3, N'Agricultor')
INSERT [dbo].[TipoUsuario] ([TipoUsuarioID], [NombreTipo]) VALUES (2, N'Técnico')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
GO
INSERT [dbo].[TipoUsuario_Permiso] ([TipoUsuarioID], [PermisoID]) VALUES (1, N'GestionCultivos')
INSERT [dbo].[TipoUsuario_Permiso] ([TipoUsuarioID], [PermisoID]) VALUES (1, N'Seguridad')
INSERT [dbo].[TipoUsuario_Permiso] ([TipoUsuarioID], [PermisoID]) VALUES (2, N'RegistrarActividad')
GO
INSERT [dbo].[Usuario] ([UsuarioID], [UsuarioNombre], [UsuarioContraseña], [UsuarioClaveRecuperacion], [UsuarioIntentos]) VALUES (1, N'roger', N'4387134784cf3aa4245b7fcf4ac045d0a449524e98ba5dab4955ff4631e89df9', N'roger', 0)
INSERT [dbo].[Usuario] ([UsuarioID], [UsuarioNombre], [UsuarioContraseña], [UsuarioClaveRecuperacion], [UsuarioIntentos]) VALUES (2, N'roro', N'roro', N'roro', 1)
GO
INSERT [dbo].[Usuario_TipoUsuario] ([UsuarioID], [TipoUsuarioID]) VALUES (1, 1)
INSERT [dbo].[Usuario_TipoUsuario] ([UsuarioID], [TipoUsuarioID]) VALUES (2, 2)
INSERT [dbo].[Usuario_TipoUsuario] ([UsuarioID], [TipoUsuarioID]) VALUES (2, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoUsua__7586661CEB5CE44E]    Script Date: 24/9/2025 16:31:09 ******/
ALTER TABLE [dbo].[TipoUsuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Backup]  WITH CHECK ADD  CONSTRAINT [FK_Backup_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Backup] CHECK CONSTRAINT [FK_Backup_Usuario]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[PermisoComponente]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Padre] FOREIGN KEY([PadreID])
REFERENCES [dbo].[PermisoComponente] ([PermisoID])
GO
ALTER TABLE [dbo].[PermisoComponente] CHECK CONSTRAINT [FK_Permiso_Padre]
GO
ALTER TABLE [dbo].[TipoUsuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_TUP_Permiso] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[PermisoComponente] ([PermisoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TipoUsuario_Permiso] CHECK CONSTRAINT [FK_TUP_Permiso]
GO
ALTER TABLE [dbo].[TipoUsuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_TUP_TipoUsuario] FOREIGN KEY([TipoUsuarioID])
REFERENCES [dbo].[TipoUsuario] ([TipoUsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TipoUsuario_Permiso] CHECK CONSTRAINT [FK_TUP_TipoUsuario]
GO
ALTER TABLE [dbo].[Usuario_TipoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_UTU_TipoUsuario] FOREIGN KEY([TipoUsuarioID])
REFERENCES [dbo].[TipoUsuario] ([TipoUsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_TipoUsuario] CHECK CONSTRAINT [FK_UTU_TipoUsuario]
GO
ALTER TABLE [dbo].[Usuario_TipoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_UTU_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_TipoUsuario] CHECK CONSTRAINT [FK_UTU_Usuario]
GO
USE [master]
GO
