USE [Growshi]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/9/2025 10:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] NOT NULL,
	[UsuarioNombre] [varchar](50) NOT NULL,
	[UsuarioContraseña] [varchar](64) NOT NULL,
	[UsuarioClaveRecuperacion] [varchar](50) NOT NULL,
	[UsuarioIntentos] [int] NOT NULL,
 CONSTRAINT [PK_Usuario1] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
