USE [master]
GO

-- =============================================================================
-- 1. CREACIÓN DE LA BASE DE DATOS (UNIVERSAL)
--    Si ya existe, no hace nada. Si no, la crea en la ruta por defecto.
-- =============================================================================
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Growshi_DW')
BEGIN
    CREATE DATABASE [Growshi_DW]
END
GO

USE [Growshi_DW]
GO

-- Nivel de compatibilidad (160 = SQL Server 2022). 
-- Si usas 2019 cambia a 150.
ALTER DATABASE [Growshi_DW] SET COMPATIBILITY_LEVEL = 160
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [Growshi_DW].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO

-- Configuraciones recomendadas para Data Warehouse
ALTER DATABASE [Growshi_DW] SET ANSI_NULL_DEFAULT OFF 
GO
-- RECOVERY SIMPLE: Evita que el log crezca infinitamente (Ideal para DW local)
ALTER DATABASE [Growshi_DW] SET RECOVERY SIMPLE 
GO

USE [Growshi_DW]
GO

-- =============================================================================
-- 2. CREACIÓN DE TABLAS
-- =============================================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Dim_Hora]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Dim_Hora](
        [HoraKey] [int] NOT NULL,
        [Hora] [int] NOT NULL,
        [Minuto] [int] NOT NULL,
        [RangoHorario] [nvarchar](20) NULL,
        [EsTurnoDiurno] [bit] NOT NULL,
    PRIMARY KEY CLUSTERED ([HoraKey] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Dim_Planta]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Dim_Planta](
        [PlantaKey] [int] IDENTITY(1,1) NOT NULL,
        [PlantaID_OLTP] [int] NOT NULL,
        [NombrePlanta] [nvarchar](100) NOT NULL,
        [NombrePlanCultivo] [nvarchar](150) NOT NULL,
        [Variedad] [nvarchar](100) NULL,
        [FechaInicioCultivo] [datetime] NULL,
        [EstadoActual] [nvarchar](20) NULL,
        [FechaCarga] [datetime] NULL,
    PRIMARY KEY CLUSTERED ([PlantaKey] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Dim_Tiempo]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Dim_Tiempo](
        [FechaKey] [int] NOT NULL,
        [Fecha] [date] NOT NULL,
        [Año] [int] NOT NULL,
        [Mes] [int] NOT NULL,
        [NombreMes] [nvarchar](20) NOT NULL,
        [DiaDeSemana] [int] NOT NULL,
        [NombreDia] [nvarchar](20) NOT NULL,
        [Trimestre] [int] NOT NULL,
        [EsFinDeSemana] [bit] NOT NULL,
        [Estacion] [nvarchar](20) NULL,
    PRIMARY KEY CLUSTERED ([FechaKey] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Dim_Ubicacion]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Dim_Ubicacion](
        [UbicacionKey] [int] IDENTITY(1,1) NOT NULL,
        [SlotID_OLTP] [int] NOT NULL,
        [NumeroSlot] [int] NULL,
        [Sector] [nvarchar](50) NULL,
    PRIMARY KEY CLUSTERED ([UbicacionKey] ASC)
    ) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Hecho_Medicion]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Hecho_Medicion](
        [FechaKey] [int] NOT NULL,
        [HoraKey] [int] NOT NULL,
        [PlantaKey] [int] NOT NULL,
        [UbicacionKey] [int] NOT NULL,
        [Temperatura] [decimal](5, 2) NOT NULL,
        [Humedad] [decimal](5, 2) NOT NULL,
        [Luminosidad] [int] NOT NULL,
     CONSTRAINT [PK_Hecho_Medicion] PRIMARY KEY CLUSTERED 
    (
        [FechaKey] ASC,
        [HoraKey] ASC,
        [PlantaKey] ASC,
        [UbicacionKey] ASC
    )
    ) ON [PRIMARY]
END
GO

-- =============================================================================
-- 3. CONSTRAINTS Y VALORES POR DEFECTO
-- =============================================================================
IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Dim_Plant__Estado__12345]')) -- Nombre genérico check
BEGIN
    ALTER TABLE [dbo].[Dim_Planta] ADD DEFAULT ('Activa') FOR [EstadoActual]
    ALTER TABLE [dbo].[Dim_Planta] ADD DEFAULT (getdate()) FOR [FechaCarga]
    ALTER TABLE [dbo].[Dim_Ubicacion] ADD DEFAULT ('General') FOR [Sector]
END
GO

-- Foreign Keys (Solo si no existen)
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Hecho_Hora]'))
    ALTER TABLE [dbo].[Hecho_Medicion] WITH CHECK ADD CONSTRAINT [FK_Hecho_Hora] FOREIGN KEY([HoraKey]) REFERENCES [dbo].[Dim_Hora] ([HoraKey])

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Hecho_Planta]'))
    ALTER TABLE [dbo].[Hecho_Medicion] WITH CHECK ADD CONSTRAINT [FK_Hecho_Planta] FOREIGN KEY([PlantaKey]) REFERENCES [dbo].[Dim_Planta] ([PlantaKey])

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Hecho_Tiempo]'))
    ALTER TABLE [dbo].[Hecho_Medicion] WITH CHECK ADD CONSTRAINT [FK_Hecho_Tiempo] FOREIGN KEY([FechaKey]) REFERENCES [dbo].[Dim_Tiempo] ([FechaKey])

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Hecho_Ubicacion]'))
    ALTER TABLE [dbo].[Hecho_Medicion] WITH CHECK ADD CONSTRAINT [FK_Hecho_Ubicacion] FOREIGN KEY([UbicacionKey]) REFERENCES [dbo].[Dim_Ubicacion] ([UbicacionKey])
GO

-- =============================================================================
-- 4. POBLADO INICIAL DE DIMENSIONES ESTÁTICAS (EVITA ERRORES FK)
-- =============================================================================

PRINT '>>> Poblando dimensión Hora...'
GO
SET NOCOUNT ON;
DECLARE @Hora INT = 0;
DECLARE @Minuto INT = 0;
DECLARE @HoraKey INT;
DECLARE @Rango NVARCHAR(20);
DECLARE @EsDiurno BIT;

WHILE @Hora < 24
BEGIN
    SET @Minuto = 0;
    WHILE @Minuto < 60
    BEGIN
        SET @HoraKey = (@Hora * 100) + @Minuto;
        
        -- Definimos Rango
        IF @Hora BETWEEN 6 AND 11 SET @Rango = 'Mañana';
        ELSE IF @Hora BETWEEN 12 AND 19 SET @Rango = 'Tarde';
        ELSE SET @Rango = 'Noche';

        -- Definimos Diurno
        IF @Hora BETWEEN 6 AND 20 SET @EsDiurno = 1;
        ELSE SET @EsDiurno = 0;

        IF NOT EXISTS (SELECT 1 FROM Dim_Hora WHERE HoraKey = @HoraKey)
        BEGIN
            INSERT INTO dbo.Dim_Hora (HoraKey, Hora, Minuto, RangoHorario, EsTurnoDiurno)
            VALUES (@HoraKey, @Hora, @Minuto, @Rango, @EsDiurno);
        END
        SET @Minuto = @Minuto + 1;
    END
    SET @Hora = @Hora + 1;
END
GO

PRINT '>>> Poblando dimensión Tiempo (2024-2030)...'
GO
SET NOCOUNT ON;
DECLARE @FechaActual DATE = '2024-01-01';
DECLARE @FechaFin DATE = '2030-12-31';

WHILE @FechaActual <= @FechaFin
BEGIN
    DECLARE @FechaKey INT = CAST(FORMAT(@FechaActual, 'yyyyMMdd') AS INT);
    
    IF NOT EXISTS (SELECT 1 FROM Dim_Tiempo WHERE FechaKey = @FechaKey)
    BEGIN
        INSERT INTO dbo.Dim_Tiempo (
            FechaKey, Fecha, Año, Mes, NombreMes, 
            DiaDeSemana, NombreDia, Trimestre, EsFinDeSemana, Estacion
        )
        VALUES (
            @FechaKey,
            @FechaActual,
            YEAR(@FechaActual),
            MONTH(@FechaActual),
            DATENAME(MONTH, @FechaActual),
            DATEPART(WEEKDAY, @FechaActual),
            DATENAME(WEEKDAY, @FechaActual),
            DATEPART(QUARTER, @FechaActual),
            CASE WHEN DATEPART(WEEKDAY, @FechaActual) IN (1, 7) THEN 1 ELSE 0 END,
            CASE 
                WHEN MONTH(@FechaActual) IN (12, 1, 2) THEN 'Verano'
                WHEN MONTH(@FechaActual) IN (3, 4, 5) THEN 'Otoño'
                WHEN MONTH(@FechaActual) IN (6, 7, 8) THEN 'Invierno'
                ELSE 'Primavera'
            END
        );
    END
    SET @FechaActual = DATEADD(DAY, 1, @FechaActual);
END
GO

-- =============================================================================
-- 5. STORE PROCEDURE ETL (CORREGIDO - CON AGRUPAMIENTO PARA EVITAR DUPLICADOS)
-- =============================================================================
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_ETL_CargaDiaria]') AND type in (N'P', N'PC'))
    DROP PROCEDURE [dbo].[SP_ETL_CargaDiaria]
GO

CREATE PROCEDURE [dbo].[SP_ETL_CargaDiaria]
AS
BEGIN
    SET NOCOUNT ON;
    PRINT 'Iniciando carga ETL...'

    -- 1. Sincronizar Dimensiones
    MERGE [dbo].[Dim_Planta] AS Destino
    USING (
        SELECT P.PlantaID, P.Nombre, PC.NombrePlan, P.FechaInicio
        FROM [Growshi].[dbo].[Planta] P
        JOIN [Growshi].[dbo].[PlanCultivo] PC ON P.PlanCultivoID = PC.PlanCultivoID
    ) AS Origen
    ON (Destino.PlantaID_OLTP = Origen.PlantaID)
    WHEN NOT MATCHED THEN
        INSERT (PlantaID_OLTP, NombrePlanta, NombrePlanCultivo, FechaInicioCultivo)
        VALUES (Origen.PlantaID, Origen.Nombre, Origen.NombrePlan, Origen.FechaInicio)
    WHEN MATCHED AND (Destino.NombrePlanta <> Origen.Nombre OR Destino.NombrePlanCultivo <> Origen.NombrePlan) THEN
        UPDATE SET Destino.NombrePlanta = Origen.Nombre, Destino.NombrePlanCultivo = Origen.NombrePlan;

    MERGE [dbo].[Dim_Ubicacion] AS Destino
    USING (SELECT SlotID FROM [Growshi].[dbo].[Slot]) AS Origen
    ON (Destino.SlotID_OLTP = Origen.SlotID)
    WHEN NOT MATCHED THEN
        INSERT (SlotID_OLTP, NumeroSlot) VALUES (Origen.SlotID, Origen.SlotID);

    -- 2. Cargar Hechos con GROUP BY (Para evitar error de Primary Key duplicada)
    --    Calcula el PROMEDIO si hay varias mediciones en el mismo minuto.
    INSERT INTO [dbo].[Hecho_Medicion] (
        FechaKey, HoraKey, PlantaKey, UbicacionKey, 
        Temperatura, Humedad, Luminosidad
    )
    SELECT 
        src.FechaKey, 
        src.HoraKey, 
        src.PlantaKey, 
        src.UbicacionKey,
        src.PromedioTemp, 
        src.PromedioHum, 
        src.PromedioLuz
    FROM (
        SELECT 
            FechaKey      = CAST(FORMAT(M.FechaRegistro, 'yyyyMMdd') AS INT),
            HoraKey       = (DATEPART(HOUR, M.FechaRegistro) * 100) + DATEPART(MINUTE, M.FechaRegistro),
            PlantaKey     = DP.PlantaKey,
            UbicacionKey  = ISNULL(DU.UbicacionKey, -1),
            PromedioTemp  = AVG(M.Temperatura),
            PromedioHum   = AVG(M.Humedad),
            PromedioLuz   = AVG(M.Luminosidad)
        FROM [Growshi].[dbo].[Medicion] M
        JOIN [dbo].[Dim_Planta] DP ON M.PlantaID = DP.PlantaID_OLTP
        LEFT JOIN [Growshi].[dbo].[Slot] S ON S.PlantaAsociada = M.PlantaID
        LEFT JOIN [dbo].[Dim_Ubicacion] DU ON S.SlotID = DU.SlotID_OLTP
        GROUP BY 
            CAST(FORMAT(M.FechaRegistro, 'yyyyMMdd') AS INT),
            (DATEPART(HOUR, M.FechaRegistro) * 100) + DATEPART(MINUTE, M.FechaRegistro),
            DP.PlantaKey,
            ISNULL(DU.UbicacionKey, -1)
    ) AS src
    WHERE NOT EXISTS (
        SELECT 1 FROM [dbo].[Hecho_Medicion] HM 
        WHERE HM.FechaKey     = src.FechaKey
        AND   HM.HoraKey      = src.HoraKey
        AND   HM.PlantaKey    = src.PlantaKey
        AND   HM.UbicacionKey = src.UbicacionKey
    );

    PRINT 'Carga completada exitosamente.'
END
GO

USE [master]
GO