USE [master]
GO

-- 1. Verificamos si la base de datos ya existe para no dar error
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Growshi')
BEGIN
    -- 2. Creamos la base de datos SIN especificar rutas (SQL usará las predeterminadas)
    CREATE DATABASE [Growshi]
END
GO

USE [Growshi]
GO

-- 3. Configuración de compatibilidad (Nivel 160 es para SQL Server 2022)
-- Si vas a instalarlo en una PC con SQL 2019, cambia 160 por 150.
ALTER DATABASE [Growshi] SET COMPATIBILITY_LEVEL = 160
GO

-- 4. Configuraciones básicas recomendadas
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [Growshi].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Growshi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Growshi]
GO
/****** Object:  Table [dbo].[Backup]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Backup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[RutaArchivo] [varchar](1000) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nota] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[FechaHora] [datetime2](3) NOT NULL,
	[Nivel] [nvarchar](20) NOT NULL,
	[Modulo] [nvarchar](50) NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtapaCultivo]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtapaCultivo](
	[EtapaCultivoID] [int] IDENTITY(1,1) NOT NULL,
	[PlanCultivoID] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Orden] [int] NOT NULL,
	[DuracionDias] [int] NOT NULL,
	[TempMinima] [decimal](5, 2) NULL,
	[TempMaxima] [decimal](5, 2) NULL,
	[HumedadMinima] [decimal](5, 2) NULL,
	[HumedadMaxima] [decimal](5, 2) NULL,
	[PHMinimo] [decimal](4, 2) NULL,
	[PHMaximo] [decimal](4, 2) NULL,
	[ECMinima] [decimal](5, 2) NULL,
	[ECMaxima] [decimal](5, 2) NULL,
	[HorasLuz] [decimal](5, 2) NULL,
 CONSTRAINT [PK__EtapaCul__3A2B8F17F6CA34DA] PRIMARY KEY CLUSTERED 
(
	[EtapaCultivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdiomaID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdiomaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicion]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicion](
	[MedicionID] [int] IDENTITY(1,1) NOT NULL,
	[PlantaID] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Temperatura] [decimal](5, 2) NOT NULL,
	[Humedad] [decimal](5, 2) NOT NULL,
	[Luminosidad] [int] NOT NULL,
	[AlertaTemperatura] [bit] NOT NULL,
	[AlertaHumedad] [bit] NOT NULL,
	[AlertaLuz] [bit] NOT NULL,
 CONSTRAINT [PK_Medicion] PRIMARY KEY CLUSTERED 
(
	[MedicionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso_Relacion]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Relacion](
	[PadreID] [nvarchar](100) NOT NULL,
	[HijoID] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PadreID] ASC,
	[HijoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoComponente]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoComponente](
	[PermisoID] [nvarchar](100) NOT NULL,
	[NombreDescriptivo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanCultivo]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanCultivo](
	[PlanCultivoID] [int] IDENTITY(1,1) NOT NULL,
	[NombrePlan] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__PlanCult__7FE3507586CA0C1F] PRIMARY KEY CLUSTERED 
(
	[PlanCultivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[PlantaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[PlanCultivoID] [int] NOT NULL,
 CONSTRAINT [PK__Planta__DAFD417F9781CB0C] PRIMARY KEY CLUSTERED 
(
	[PlantaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotEstado] [bit] NOT NULL,
	[PlantaAsociada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Clave] [nvarchar](100) NOT NULL,
	[IdiomaID] [int] NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Clave] ASC,
	[IdiomaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioNombre] [varchar](50) NOT NULL,
	[UsuarioContraseña] [varchar](64) NOT NULL,
	[UsuarioClaveRecuperacion] [varchar](50) NOT NULL,
	[UsuarioIntentos] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[IdiomaPreferidoID] [int] NOT NULL,
 CONSTRAINT [PK_Usuario1] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[UsuarioID] [int] NOT NULL,
	[PermisoID] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_PlanCultivo]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_PlanCultivo](
	[UsuarioID] [int] NOT NULL,
	[PlanCultivoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[PlanCultivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Slot]    Script Date: 17/12/2025 00:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Slot](
	[UsuarioID] [int] NOT NULL,
	[SlotID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdiomaID], [Codigo], [Nombre]) VALUES (1, N'es', N'Español')
INSERT [dbo].[Idioma] ([IdiomaID], [Codigo], [Nombre]) VALUES (2, N'en', N'English')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
INSERT [dbo].[Permiso_Relacion] ([PadreID], [HijoID]) VALUES (N'1', N'2')
INSERT [dbo].[Permiso_Relacion] ([PadreID], [HijoID]) VALUES (N'1', N'3')
INSERT [dbo].[Permiso_Relacion] ([PadreID], [HijoID]) VALUES (N'2', N'3')
GO
INSERT [dbo].[PermisoComponente] ([PermisoID], [NombreDescriptivo]) VALUES (N'1', N'1')
INSERT [dbo].[PermisoComponente] ([PermisoID], [NombreDescriptivo]) VALUES (N'2', N'2')
INSERT [dbo].[PermisoComponente] ([PermisoID], [NombreDescriptivo]) VALUES (N'3', N'3')
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([SlotID], [SlotEstado], [PlantaAsociada]) VALUES (1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
INSERT [dbo].[Traduccion] ([Clave], [IdiomaID], [Valor]) VALUES (N'AgregarPlan_Btn_Cancelar', 1, N'Cancelar')
INSERT [dbo].[Traduccion] ([Clave], [IdiomaID], [Valor]) VALUES (N'AgregarPlan_Btn_Cancelar', 2, N'Cancel')
INSERT [dbo].[Traduccion] ([Clave], [IdiomaID], [Valor]) VALUES (N'AgregarPlan_Btn_Guardar', 1, N'Guardar Plan')
GO

/****** lo ultimo ******/


-- 3. INGLÉS (ID 2)
GO
/****** lo ultimo ******/



GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [UsuarioNombre], [UsuarioContraseña], [UsuarioClaveRecuperacion], [UsuarioIntentos], [EstaActivo], [IdiomaPreferidoID]) VALUES (1, N'roger', N'4387134784cf3aa4245b7fcf4ac045d0a449524e98ba5dab4955ff4631e89df9', N'roger', 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Permiso] ([UsuarioID], [PermisoID]) VALUES (1, N'Permisos_Nivel1')
INSERT [dbo].[Usuario_Permiso] ([UsuarioID], [PermisoID]) VALUES (1, N'Permisos_Nivel2')
INSERT [dbo].[Usuario_Permiso] ([UsuarioID], [PermisoID]) VALUES (1, N'Permisos_Nivel3')
GO
INSERT [dbo].[Usuario_Slot] ([UsuarioID], [SlotID]) VALUES (1, 1)
GO
/****** Object:  Index [IX_Bitacora_Fecha]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Fecha] ON [dbo].[Bitacora]
(
	[FechaHora] ASC
)
INCLUDE([UsuarioID],[Modulo],[Mensaje],[Nivel]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bitacora_Usuario_Fecha]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Usuario_Fecha] ON [dbo].[Bitacora]
(
	[UsuarioID] ASC,
	[FechaHora] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EtapaCultivo_PlanCultivo]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_EtapaCultivo_PlanCultivo] ON [dbo].[EtapaCultivo]
(
	[PlanCultivoID] ASC
)
INCLUDE([Nombre],[Orden],[DuracionDias]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Idioma__06370DAC3AF80633]    Script Date: 17/12/2025 00:08:04 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicion_Planta_Fecha]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_Medicion_Planta_Fecha] ON [dbo].[Medicion]
(
	[PlantaID] ASC,
	[FechaRegistro] ASC
)
INCLUDE([Temperatura],[Humedad],[Luminosidad],[AlertaTemperatura],[AlertaHumedad],[AlertaLuz]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Planta_PlanCultivo]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_Planta_PlanCultivo] ON [dbo].[Planta]
(
	[PlanCultivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Slot_PlantaAsociada]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_Slot_PlantaAsociada] ON [dbo].[Slot]
(
	[PlantaAsociada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Nombre]    Script Date: 17/12/2025 00:08:04 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Nombre] ON [dbo].[Usuario]
(
	[UsuarioNombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Medicion] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Medicion] ADD  DEFAULT ((0)) FOR [AlertaTemperatura]
GO
ALTER TABLE [dbo].[Medicion] ADD  DEFAULT ((0)) FOR [AlertaHumedad]
GO
ALTER TABLE [dbo].[Medicion] ADD  DEFAULT ((0)) FOR [AlertaLuz]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [IdiomaPreferidoID]
GO
ALTER TABLE [dbo].[Backup]  WITH CHECK ADD  CONSTRAINT [FK_Backup_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Backup] CHECK CONSTRAINT [FK_Backup_Usuario]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[EtapaCultivo]  WITH CHECK ADD  CONSTRAINT [FK_EtapaCultivo_PlanCultivo] FOREIGN KEY([PlanCultivoID])
REFERENCES [dbo].[PlanCultivo] ([PlanCultivoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EtapaCultivo] CHECK CONSTRAINT [FK_EtapaCultivo_PlanCultivo]
GO
ALTER TABLE [dbo].[Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Medicion_Planta] FOREIGN KEY([PlantaID])
REFERENCES [dbo].[Planta] ([PlantaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medicion] CHECK CONSTRAINT [FK_Medicion_Planta]
GO
ALTER TABLE [dbo].[Permiso_Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Hijo] FOREIGN KEY([HijoID])
REFERENCES [dbo].[PermisoComponente] ([PermisoID])
GO
ALTER TABLE [dbo].[Permiso_Relacion] CHECK CONSTRAINT [FK_Relacion_Hijo]
GO
ALTER TABLE [dbo].[Permiso_Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Padre] FOREIGN KEY([PadreID])
REFERENCES [dbo].[PermisoComponente] ([PermisoID])
GO
ALTER TABLE [dbo].[Permiso_Relacion] CHECK CONSTRAINT [FK_Relacion_Padre]
GO
ALTER TABLE [dbo].[Planta]  WITH CHECK ADD  CONSTRAINT [FK_Planta_PlanCultivo] FOREIGN KEY([PlanCultivoID])
REFERENCES [dbo].[PlanCultivo] ([PlanCultivoID])
GO
ALTER TABLE [dbo].[Planta] CHECK CONSTRAINT [FK_Planta_PlanCultivo]
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Planta] FOREIGN KEY([PlantaAsociada])
REFERENCES [dbo].[Planta] ([PlantaID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Slot_Planta]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdiomaID])
REFERENCES [dbo].[Idioma] ([IdiomaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdiomaPreferidoID])
REFERENCES [dbo].[Idioma] ([IdiomaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permiso_Permiso] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[PermisoComponente] ([PermisoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_Usuario_Permiso_Permiso]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permiso_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_Usuario_Permiso_Usuario]
GO
ALTER TABLE [dbo].[Usuario_PlanCultivo]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_PlanCultivo_Plan] FOREIGN KEY([PlanCultivoID])
REFERENCES [dbo].[PlanCultivo] ([PlanCultivoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_PlanCultivo] CHECK CONSTRAINT [FK_Usuario_PlanCultivo_Plan]
GO
ALTER TABLE [dbo].[Usuario_PlanCultivo]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_PlanCultivo_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_PlanCultivo] CHECK CONSTRAINT [FK_Usuario_PlanCultivo_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Slot]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Slot_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Slot] CHECK CONSTRAINT [FK_Usuario_Slot_Slot]
GO
ALTER TABLE [dbo].[Usuario_Slot]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Slot_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Slot] CHECK CONSTRAINT [FK_Usuario_Slot_Usuario]
GO
ALTER TABLE [dbo].[Permiso_Relacion]  WITH CHECK ADD  CONSTRAINT [CK_Permiso_NoSelfReference] CHECK  (([PadreID]<>[HijoID]))
GO
ALTER TABLE [dbo].[Permiso_Relacion] CHECK CONSTRAINT [CK_Permiso_NoSelfReference]
GO
USE [master]
GO
